
VITE_SUPABASE_URL=https://tcudb.zeabur.app/
VITE_SUPABASE_ANON_KEY=your_anon_key_here
VITE_API_URL=https://service.criterium.tw
VITE_SITE_URL=https://power.criterium.tw
VITE_GA_MEASUREMENT_ID=G-H42C1SLBNM
